<!-- Author: Vaidik Ashishbhai Patel
Student N0: 200494967
Stripe API - Group Tutorial -->
<!DOCTYPE html>
<html>
    <head>
    <title>Stripe API Group Tutorial</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
    <body>
        
        <h3>Welcome to our Stripe API Demo</h3>
        <form action="payment" method="POST">
            <script sasync
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1NZdc2CoPXrP5yjjWxohPMk9"
  publishable-key="pk_test_51NXsWICoPXrP5yjj55pKhxsCLOoM1VMDSYsZ6mKof8AN5phLidbPQUuq4yWDqWw65HmQFFhNpJy36zJy92tBJfoJ00gxGBzFO3"
>
</stripe-buy-button>
 
        </form>
    </body>
</html>